LICENSE
ISSUE_TEMPLATE.md
README.md
Changelog.md

Dockerfile
Pipfile
Procfile

data
docs
logs
scripts
tests
venv

Makefile
MANIFEST.in
setup.py

.git
.tox
.gitignore
.dockerignore
.editorconfig
.idea
.bumpversion.cfg
tox.ini